body{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
:root{
    --primary-color:#FF42A5;
}
.color{
    color: var(--primary-color);
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 240px;
    margin-left: 240px;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
.gamer-item{
   margin-right: 20px;
   text-decoration: none;
   text-align: center;
}

.logo-container{
    display: flex;
    
}
.logo-container p{
    font-size: 2.5rem;
    font-weight: 700;
    margin-left:20px;
}
.logo-container img{
    width: 5.3rem;
    padding-top: 40px;
    padding-bottom: 40px;
}
.gamer-container{

}
.youtube-img{
    width: 2.1rem;

}